.image_block{
	box-shadow: 5px 0 15px -3px rgba(164, 186, 186, 0.8), -5px 0 15px -3px rgba(164, 186, 186, 0.8);
}

.image_content{
	text-align: center;
	margin:auto;
}

.image_content_inner{
	/* height:300px; */
	/* max-width:75rem;
	display:flex;
	flex-flow:row wrap;
	margin:auto;
	float:none; */
}

.image_window{
	position:fixed;
	min-height:100%;
	background-color:rgba(255, 230, 222, 1);
	z-index: 101;
	text-align: center;
	display:none;
}

.image_close_wrapper{
	text-align: right;
	background-color:#aaa;
	position: relative;
	display: block;
	height:0;
}

.close_image_ico{
	cursor:pointer;
	margin-top:-20px;
	display:block;
	float:right;
	color:#fff;
	font-size:40px;
}

.image_block{
	display:block;
	max-height:730px;
	margin:auto;
}

/* для смартфонов */
@media screen and (min-width: 640px) and (max-width: 1023px) {
	.image_block{
		display:block;
		min-height:1700px;
		width:auto;
		max-width:2000px;
		margin:auto;
		overflow:scroll;
	}
	.close_image_ico{
		cursor:pointer;
		margin-top:0px;
		margin-right:60px;
		display:block;
		float:right;
		color:#fff;
		font-size:120px;
		height:0;
	}
	.image_block_wrapper{
		max-width: 1000px;
	}
}