.close_ico{
	height:inherit;
	width:inherit;
	display:block;
	margin-top:7px;
}

.modal_close_button{
	display:block;
	height:30px;
	width:30px;
	float:right;
	cursor:pointer;
}

.close_button_wrapper{
	height:30px;
}


.modal_content_inner{
	max-width:75rem;
	min-height: 150px;
	margin:auto;
}

.modal_content{
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	height:inherit;
}

.modal_window{
	overflow-y: scroll;
	top:0;
	position:fixed;
	min-height:100%;
	max-height:100%;
	z-index: 101;
	display:none;
	background-color:rgba(240,240,240,.5);
	
}

/* для смартфонов */
@media screen and (min-width: 640px) and (max-width: 1023px) {
	.modal_window{
		padding-top:150px;	
	}

	.close_button_wrapper{
		height:120px;
		position:absolute;
	}

	.modal_close_button{
		height:120px;
		width:120px;
	}

	.close_ico{
		font-size:100px;
	}

	.modal_content{
		height:inherit;
	}
	.modal_content_inner{
	}
}