.page_head_line{
	border-bottom: 1px solid #361134;
}

.page_head_text{
	font-size:30px;
}

.page_head{
	background-color:#fff;
}

.page_head_decoration{
	height:9px;
}

.ico_decoration img{
	margin-top:-20px;
}

/* для смартфонов */
@media screen and (min-width: 640px) and (max-width: 1023px) {
	.page_head_text{
		font-size:60px;
	}

	.page_head{
	}
}