{% load custom_templates %}

<div class="large-12 small-12 columns nopadding open_sans">

	<div class="large-12 small-12 columns">
		<span class="span_superlarge">{{header}}</span>
	</div>

	<div class="large-12 small-12 columns nopadding background_fff">
		<div class="large-12 small-12 columns">
			<label for="keywords_wrapper">
				<span class="span_usual">Ключевые слова или словосочетания (разделитель ENTER или TAB)</span>
			</label>
			<div class="large-12 small-12 columns keywords_wrapper input_textarea">
				
				<span class="keyword_input_wrapper">
					<input class="keyword_input large-12 small-12 columns" type="text">	
				</span>
			</div>
		</div>
		<div class="large-12 small-12 columns padding_standart">
			<div class="large-12 small-12 columns span_usual">
				<button class="button site_button submit_keywords span_usual" data-id="{{id}}">{{submit_text}}</button>
				{% if back %}
					<a href="#" class="go_back" data-id="{{back_id}}">Назад</a>
				{% endif %}
			</div>
		</div>
	</div>

</div>

<div class="keyword_item_wrapper">
	<span class="keyword_item background_3 color_fff">
		<span class="keyword_text"></span>
		<span class="keyword_close color_fff" title="удалить">&times;</span>
	</span>	
</div>