{% load custom_templates %}

<div class="large-12 small-12 columns open_sans text_left color_fff">
	<span class="span_superlarge">{{form_head}}</span>
</div>

<div class="large-12 small-12 columns nopadding open_sans">

	<form id="{{form_id}}" class="padding_standart span_usual">

		{% for field in form %}
			<div class="large-12 small-12 columns" id="{{field.name}}">
				<div class="large-12 small-12 columns nopadding span_usual text_left">
					{{field|label_with_classes:"span_large color_fff"}}
				</div>
				<div class="large-12 small-12 columns nopadding text_left">{{field}}</div>
			</div>
		{% endfor %}

		{% for field in form %}
			{% if field.errors %}
				{% for error in field.errors %}
					<div class="large-12 small-12 columns text_left" style="color:red;">
						<span class="span_usual">{{field.label}}. {{error|escape}}</span>
					</div>
				{% endfor %}
			{% endif %}
		{% endfor %}

	</form>

	<div class="large-12 small-12 columns padding_standart text_left open_sans">
		<div class="large-12 small-12 columns">
			<button class="button site_button span_usual {{form_submit}}" data-id="{{form_submit_id}}">Подтвердить</button>
		</div>
	</div>

</div>