{% load custom_templates %}

<div class="large-12 small-12 columns nopadding open_sans">

	<div class="large-12 small-12 columns">
		<span class="span_superlarge">{{header}}</span>
	</div>

	<div class="large-12 small-12 columns nopadding background_fff">
		<form class="padding_standart" data-id="{{id}}">

			{% for field in form %}
				<div class="large-12 small-12 columns" id="{{field.name}}">
					<div class="large-12 small-12 columns nopadding span_usual">
						{{field|label_with_classes:"span_usual"}}
					</div>
					<div class="large-12 small-12 columns nopadding">{{field}}</div>
				</div>
			{% endfor %}

			{% for field in form %}
				{% if field.errors %}
					{% for error in field.errors %}
						<div class="large-12 small-12 columns" style="color:red;">
							<span class="span_usual">{{field.label}}. {{error|escape}}</span>
						</div>
					{% endfor %}
				{% endif %}
			{% endfor %}
			
		</form>
		<div class="large-12 small-12 columns padding_standart">
			<div class="large-12 small-12 columns span_usual">
				<button class="button site_button form_submit span_usual" data-id="{{id}}">{{submit_text}}</button>
				{% if back %}
					<a href="#" class="go_back" data-id="{{back_id}}">Назад</a>
				{% endif %}
			</div>
		</div>
	</div>

</div>