.diagram_choose_line{
	height:100px;
	cursor:pointer;
	border-bottom:4px #fff solid;
}

.diagram_choose_line:hover{
	background-color:#F0F0F0;
	border-bottom:4px #5ab5dd solid;
}

.diagram_choose_line.active{
	border-bottom:4px #5ab5dd solid;
	font-weight: bold;
}

/* для смартфонов */
@media screen and (min-width: 640px) and (max-width: 1023px) {
	.diagram_choose_line{
		height:200px;
		border-bottom:8px #fff solid;
	}
	.diagram_choose_line:hover{
		border-bottom:8px #5ab5dd solid;
	}
	.diagram_choose_line.active{
		border-bottom:8px #5ab5dd solid;
	}
}