{% load custom_templates %}
<div class="large-12 small-12 columns nopadding mainpage_panel_wrapper">
	<div class="large-12 small-12 columns background_color_2 mainpage_panel">
		<div class="large-12 small-12 columns nopadding color_fff">
			<h1>{{element.name|capfirst}}</h1>
		</div>

		<div class="large-12 small-12 columns nopadding">
			{{tree_elems}}
		</div>

		<form action="/{{element.model_name}}/{{element.id}}/" id="parameters_form" method="GET">
			{% for form in forms %}
				{% for field in form %}
					<div class="large-12 small-12 columns" id="{{field.name}}">
						<div class="large-12 small-12 columns nopadding span_usual text_left italic">
							{{field|label_with_classes:"span_usual color_fff"}}
						</div>
						<div class="large-12 small-12 columns nopadding text_left">{{field}}</div>
					</div>
				{% endfor %}
				{% for field in form %}
					{% if field.errors %}
							{% for error in field.errors %}
								<div class="large-12 small-12 columns">
									<div class="large-12 small-12 columns color_4 background_fff text_left italic">
										<span class="span_usual">{{field.label}}. {{error|escape}}</span>
									</div>
								</div>
							{% endfor %}
					{% endif %}
				{% endfor %}
			{% endfor %}
			<div class="large-12 small-12 columns">
				<div class="large-12 small-12 columns padding_standart">
					<button class="site_button button" id="build_diagram" data-id="{{unit.id}}">
						<span class="span_usual">Произвести поиск</span>
					</button>	
				</div>
			</div>
		</form>
	</div>
</div>
<script>
	$(function(){
		$('#id_date_from').fdatepicker({
			format: 'dd.mm.yyyy hh:ii:ss',
			disableDblClickSelection: true,
			language: 'ru',
			pickTime: true,
		});
		$('#id_date_to').fdatepicker({
			format: 'dd.mm.yyyy hh:ii:ss',
			disableDblClickSelection: true,
			language: 'ru',
			pickTime: true,
		})
	});

	// на мобильнике скрываем клавиатуру набора
	$('#id_date_from').on('focus', function(){
		$(this).blur();
	});

	$('#id_date_to').on('focus', function(){
		$(this).blur();
	});
</script>