<div class="large-12 small-12 columns nopadding mainpage_panel_wrapper">
	<div class="large-12 small-12 columns background_color_2 mainpage_panel">

		<div class="large-12 small-12 columns nopadding color_fff">
			<h1>{{element.name|capfirst}}</h1>
		</div>

		<div class="large-12 small-12 columns color_fff">

			<div class="large-12 small-12 columns nopadding">
				<span class="span_superlarge">Заголовок</span>				
			</div>

			<div class="large-12 small-12 columns nopadding">
				{{result.title|safe}}
			</div>

			<div class="large-12 small-12 columns nopadding">
				<span class="span_superlarge">Текст</span>
			</div>

			<div class="large-12 small-12 columns nopadding">
				{{result.text|safe}}
			</div>

			<div class="large-12 small-12 columns nopadding">
				<span class="span_superlarge">Оригинал</span>
			</div>

			<div class="large-12 small-12 columns nopadding">
				<a href="{{result.url}}" class="span_usual" target="_blank">ссылка</a>
			</div>
		</div>
		
	</div>
</div>