<div class="topbar_element_wrapper display_table {% if selected %} selected{% endif %}" data-id="{{element.id}}">
	<span class="vertical_middle color_000 height_inherit transition open_sans span_usual">{{element.name|capfirst}}</span>
</div>