<div class="large-12 small-12 columns topbar_wrapper open_sans background_fff">
	<div class="large-6 small-6 columns topbar_left_wrapper padding_standart">
		<div class="large-6 small-12 columns nopadding">
			<a href="/" class="span_superlarge uppercase text_decoration_none">news-mining.online</a>	
		</div>
		<div class="large-6 small-12 columns nopadding">
			<span class="span_large topbar_name">{{campaign_name}}</span>
		</div>
	</div>
	<div class="large-6 small-6 columns topbar_right_wrapper padding_standart">
		<div class="large-3 small-12 columns nopadding" style="float:right;">
			{{login_panel}}	
		</div>
		<div class="large-3 small-6 columns nopadding" style="float:right;">
			<a href="#" class="span_small">Уведомления</a>
		</div>
		<div class="large-3 small-6 columns nopadding" style="float:right;">
			<a href="#" class="span_small">Справка</a>
		</div>
		<div class="large-3 small-6 columns nopadding" style="float:right;">
			
		</div>
	</div>
	<div class="large-12 small-12 columns topbar_elements_wrapper">
		{% for element in topbar_elements %}
			{{element}}
		{% endfor %}
	</div>
</div>