{% load custom_templates %}

<tr class="span_usual">
	<td>
		{{date}}
	</td>
	<td>
		{{agency.name|capfirst}}
	</td>
	<td>
		<a href="/{{element.model_name}}/{{element.children.0.id}}/{{query_date|date_to_string}}/{{id}}/?{{url_params}}" target="_blank">{{title}}</a>
	</td>
	<td>
		{{status_title}}
	</td>
	<td>
		{{status_text}}
	</td>
</tr>