{% load custom_templates %}
<tr class="span_usual">
	<td><a href="/{{element.model_name}}/{{element.children.0.id}}/{{date|date_to_string}}/?{{url_params}}" target="_blank">{{date}}</a></td>
	<td>{{count}}</td>
</tr>