.open_sans{
	font-family: 'Open Sans script=all rev=2', 'Adobe Blank', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.primary{
	color:#000;
}

.secondary{
	color:#848484;
}

h1{
	font-size:30px;
	font-family: 'Open Sans script=all rev=2', 'Adobe Blank', sans-serif;
	font-weight: 300;
	font-style:normal;
}

h2{
	font-size:45px;
}

h3{
	font-size:40px;
	line-height: 0.7;
}

.display_table{
	display:table;
	height: 100%;
}

.vertical_middle{
	display: table-cell;
	vertical-align: middle;
}


.diagram{
	min-width: 300px;
	height: 400px;
	margin: 0 auto;
}

.map_small{
	height:300px;
}

.border_usual{
	border: 2px solid #247ba0;
}

input[type='checkbox']{
	width:20px;
	height:20px;
}

.italic{
	font-style:italic;
}
.bold{
	font-weight: bold;
}

.line_height_small{
	line-height:0.9;
}

.pages_content_wrapper{
	margin-top:-650px;
}

[type='text'],
[type='password'], [type='date'], [type='datetime'], [type='datetime-local'],
[type='month'], [type='week'], [type='email'], [type='number'], [type='search'],
[type='tel'], [type='time'], [type='url'], [type='color'], textarea, .input_textarea {
	font-size:15px;
	font-style:italic;
	background-color:#fff;
	border: 1px solid #247ba0;
	margin:0;
}

.input_textarea{
	min-height:200px;
	padding:5px;
}

[type='text']:focus, 
[type='password']:focus, [type='date']:focus, [type='datetime']:focus,
[type='datetime-local']:focus, [type='month']:focus, [type='week']:focus,
[type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus,
[type='time']:focus, [type='url']:focus, [type='color']:focus, textarea:focus, .input_textarea:focus {
	background-color:#fff;
	border: 1px solid #247ba0;
	/* box-shadow: 0 0 11px #247ba0; */
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
}

.float_left{
	float:left;
}
.float_right{
	float:right;
}

.button{
	margin:0;
}

.tooltip{
	font-size:inherit;
}

.background_fff{
	background-color:#fff;
}


.background_1{
	background-color:#1DCA93;
}
.background_2{
	background-color:#687677;
}
.background_3{
	background-color:#5AB5DD;
}
.background_4{
	background-color:#C8C8C8;
}
.background_5{
	background-color:#F0F0F0;
}


.color_1{
	color:#1DCA93;
}
.color_2{
	color:#687677;
}
.color_3{
	color:#5AB5DD;
}
.color_4{
	color:#C8C8C8;
}
.color_5{
	color:#F0F0F0;
}



.color_fff{
	color:#fff;
}

.color_000{
	color:#000;
}




.no_link_confirm{

}

a.no_link_effect_grey{
	color:#a4baba;
}
a.no_link_effect_grey:hover{
	color:#a4baba;
}

a.no_link_effect_purple{
	color:#361134;	
}
a.no_link_effect_purple:hover{
	color:#361134;	
}

a.no_link_effect_000{
	color:#000;
}
a.no_link_effect_000:hover{
	color:#000;
}

.padding_standart{
	padding-top:25px;
	padding-bottom:25px;
	padding-left:0;
	padding-right:0;
}

.padding_small{
	padding:15px;
}

.only_desktop{
	display:block;
}

.only_mobile{
	display:none;
}

label{
	padding-top:15px;
	padding-bottom:15px;
}

table thead, table tbody, table tfoot{
	border: 1px solid #fff;
}

.link_pseudo{
	cursor:pointer;
	color:#ed3e6d;
}

.link_pseudo:hover{
	color:#b0228c;
}

.site_button_2:hover, .site_button_2:focus, .site_button_2.active{
	background-color:#1b263b;
	color:#fff;
}

.site_button_2{
	background-color:#dceaf7;
	color:#071019;
	margin:0;
	text-transform: uppercase;
}

.site_button:hover, .site_button:focus, .site_button.active{
	background-color:#5AB5DD;
	color:#fff;
}

.site_button{
	background-color:#1DCA93;
	color:#fff;
	margin:0;
	text-transform: uppercase;
}

.site_button_map{
	background-color:#fff;
	border:3px solid #e71d36;
}

.site_button_map:hover, .site_button_map:focus{
	background-color:#e71d36;
	border:3px solid #fff;
	color:#fff;
}

.site_button_special{
	background-color:#e71d36;
	margin:0;
	text-transform: uppercase;
}

.site_button_special:hover, .site_button_special:focus{
	background-color:#fff;
	color:#e71d36;
}

.site_button_white{
	background-color:#fff;
	margin:0;
	text-transform: uppercase;
	color:#fe7f2d;
}

.site_button_white:hover, .site_button_white:focus{
	background-color:#eee;
	color:#fe7f2d;
}

select.select_usual{
	height:44px;
	text-transform: uppercase;
}

.span_supersuperlarge{
	font-size:50px;
	line-height: 1;
}

.span_superlarge{
	font-size:25px;
}

.slider{
	background-color:#ffe6de;
	height:0.3rem;
}

.slider-fill{
	background-color:#ed3e6d;
	height:0.3rem;
}

.slider-handle{
	background-color:#ed3e6d;
	border-radius:15px;
}

.slider-handle:hover{
	background-color:#b0228c;
}

h4{
	font-size:26px;
}

p, b{
	line-height: 1.5;
}

.font_size_130{
	font-size:130%;
}

.text_center{
	text-align: center;
}

.page_content{
	/* min-height: 100%; */
	/* margin-top:-150%; */
	/* display:none; */
	z-index: 1;
}

.nomargin{
	margin:0;
}

.side_shadow{
	box-shadow: 5px 0 15px -3px rgba(164, 186, 186, 0.8), -5px 0 15px -3px rgba(164, 186, 186, 0.8);
}



body{
	min-height: 100%;
	position: absolute;
	top:0;
	left:0;
	min-width: 100%;
}

body.modal-open{
	overflow: hidden;
}

*:focus {
    outline: none;
}

a.a_white{
	color:#fff;
}

a.a_white:hover{
	color:#fff;
}

a.a_white:focus{
	color:#fff;
}

a{
	color:#1DCA93;
	text-decoration: underline;
}

a:hover{
	color:#5AB5DD;
}

a:focus{
	color:#5AB5DD;
}


.text_decoration_none{
	text-decoration: none;
}

/* a:visited{
	color:#b0228c;	
} */

.flex{
	display:flex;
	justify-content: center;
}
.width_max, .width_inherit{
	width:100%;
}
.font_inherit{
	font-family: inherit;
}

.nopadding{
	padding:0;
}

::selection {
	color:#fff;
	background: #5AB5DD; /* WebKit/Blink Browsers */
}
::-moz-selection {
	color:#fff;
	background: #5AB5DD; /* Gecko Browsers */
}

input[type="text"]::-webkit-input-placeholder{
	color:#000;
}
input[type="text"]::-moz-placeholder{
	color:#000;	
}
input[type="text"]:-ms-input-placeholder{
	color:#000;	
}
input[type="text"]:-moz-placeholder{
	color:#000;	
}

.uppercase{
	text-transform: uppercase;
}



.height_inherit{
	height:inherit;
}

.span_large{
	font-size:20px;
}

.span_usual{
	font-size:15px;
}

.span_usual_garamond{
	font-size:19px;
}

.span_subusual{
	font-size:14px;
}

.garamond_subusual{
	font-size:16px;
}

.span_small{
	font-size:12px;
	/* line-height: 0.9; */
	/* letter-spacing: 0px; */
}

.span_supersmall{
	font-size:10px;
}

.transition{
	-webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

.text_left{
	text-align:left;
}

.text_right{
	text-align:right;
}

/* для смартфонов */
@media screen and (min-width: 640px) and (max-width: 1023px) {
	
	input[type="text"].input_small{
		padding: 12px 20px 8px;
		font-size:44px;
		line-height: 64px;
		float:left;
		border:none;
		height:84px;
		margin:0;
	}
	.site_button_small{
		background-color:#fe7f2d;
		cursor:pointer;
	}

	h2{
		font-size:70px;
	}

	h3{
		font-size:60px;
	}

	.side_shadow{
		box-shadow: none;
	}
	
	.span_supersmall{
		font-size:20px;
	}

	.span_small{
		font-size:28px;
	}

	.span_usual{
		font-size:37px;
	}

	.span_superlarge{
		font-size:50px;
	}

	.span_supersuperlarge{
		font-size:100px;
	}

	.span_large{
		font-size:45px;
		line-height: 1.3;
	}

	.span_subusual{
		font-size:35px;
		/* letter-spacing: 0px; */
	}

	.font_size_130{
		font-size:230%;
		line-height:0;
	}
	p, b{
		line-height: 1.8;
	}
	
	h4{
		font-size:62px;
	}

	

	.slider{
		background-color:#ffe6de;
		height:0.9rem;
		margin-top:70px;
		margin-bottom:70px;
	}

	.slider-fill{
		background-color:#ed3e6d;
		height:0.9rem;
	}

	.slider-handle{
		border-radius:30px;
		height:3.8rem;
		width:3.8rem;
	}
	.span_usual_garamond{
		font-size:34px;
	}

	select.select_usual{
		text-transform: uppercase;
		margin-bottom:0;
		height:68px;
		border:2px dashed #000;
	}

	.only_desktop{
		display:none;
	}

	.only_mobile{
		display:block;
	}

	table thead, table tbody, table tfoot{
		border: 1px solid #fff;
	}

	.mobile_head_large{
		font-size:120px;
		line-height:0.9;
	}

	.input_error{
		border:3px solid #ed3e6d;
		-webkit-box-shadow:0px 0 30px #ed3e6d; 
		-moz-box-shadow: 0px 0 30px #ed3e6d; 
		box-shadow:0px 0 30px #ed3e6d;
	}

	.padding_standart{
		padding-top:40px;
		padding-bottom:40px;
		padding-left:0;
		padding-right:0;
	}

	.tooltip{
		min-width:380px;
		font-size:50px;
	}

	select, [type='text'],
	[type='password'], [type='date'], [type='datetime'], [type='datetime-local'],
	[type='month'], [type='week'], [type='email'], [type='number'], [type='search'],
	[type='tel'], [type='time'], [type='url'], [type='color'], textarea, .input_textarea {
		font-size:2rem;
		height:5rem;
		border: 3px solid #247ba0;
	}
	select:focus, [type='text']:focus, 
	[type='password']:focus, [type='date']:focus, [type='datetime']:focus,
	[type='datetime-local']:focus, [type='month']:focus, [type='week']:focus,
	[type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus,
	[type='time']:focus, [type='url']:focus, [type='color']:focus, textarea:focus, .input_textarea:focus {
		border: 3px solid #247ba0;
		box-shadow: 0 0 22px #247ba0;
    	/* transition: box-shadow 0.5s, border-color 0.25s ease-in-out; */
	}

	.input_textarea{
		min-height:400px;
		padding:10px;
	}

	input[type="checkbox"], input[type="radio"]{
		height:60px;
		width:60px;
	}

	.pages_content_wrapper{
		margin-top:-1200px;
	}

	.border_usual{
		border: 4px solid #247ba0;
	}
	.map_small{
		height:900px;
	}

}