.confirm_wrapper_text{
	margin-top:75px;
	margin-left:10px;
	position:absolute;
}

.confirm_wrapper{
	position:absolute;
	display:block;
	height:210px;
	width:210px;
	border-radius:210px;
	z-index: 102;
	display:none;
}

/* для смартфонов */
@media screen and (min-width: 640px) and (max-width: 1023px) {
	.confirm_wrapper_text{
	}
}