.service_line{
	cursor:pointer;
	padding:10px;
	position:relative;
}

.service_wrapper{
	padding:5px;
	position:fixed;
	right:0;
	top:0;
	cursor: pointer;
}

.service_lines_wrapper{
	position:fixed;
	right:0;
	top:33px;
	min-width: 200px;
	display:none;
	z-index: 2;
}

.service_lines_wrapper:hover{
	display:block;
}

.service_wrapper:active ~ .service_lines_wrapper, .service_wrapper:hover ~ .service_lines_wrapper{
	display:block;
}

/* для смартфонов */
@media screen and (min-width: 640px) and (max-width: 1023px) {

	.service_lines_wrapper{
		top:65px;
	}	
}