<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="nopadding height_inherit line_height_small tree_elem_wrapper" style="float:left;">
	<a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="{{elem.url}}">
		<span itemprop="name" class="span_usual tree_elem_text">{{elem.name|capfirst}}</span>
	</a>	
	<meta itemprop="position" content="{{elem.no}}">
</li>