<div class="large-12 small-12 columns nopadding tree_elems_wrapper">
	<ul itemscope itemtype="http://schema.org/BreadcrumbList" class="large-12 small-12 columns tree_elems_content height_inherit nopadding nomargin tree_elems_list">
		{% for tree_element in tree_elements %}
			{{tree_element.html}}			
		{% endfor %}
	</ul>
</div>