<div class="large-12 small-12 columns dynamic_diagram_wrapper open_sans" data-id="{{id}}">
	<div class="large-12 small-12 columns padding_standart">
		<div class="large-12 small-12 columns nopadding dynamic_title span_large"></div>
		<div class="large-12 small-12 columns nopadding dynamic_subtitle span_usual"></div>	
	</div>
	
	<div class="large-12 small-12 columns nopadding span_usual">
		<div class="large-2 small-6 columns span_usual diagram_choose_line display_table transition" data-type="all" data-id="{{id}}" style="float:left;">
			<div class="vertical_middle">
				<span class="vertical_middle">Всего:</span>
				<span class="diagram_choose_line_count"></span>	
			</div>
		</div>
		<div class="large-2 small-6 columns span_usual diagram_choose_line display_table transition" data-type="unique" data-id="{{id}}" style="float:left;">
			<div class="vertical_middle">
				<span class="vertical_middle">Уникальных:</span>
				<span class="diagram_choose_line_count"></span>	
			</div>
		</div>
		<div class="large-2 small-6 columns span_usual diagram_choose_line display_table transition" data-type="reprint" data-id="{{id}}" style="float:left;">
			<div class="vertical_middle">
				<span class="vertical_middle">Частичных копий:</span>
				<span class="diagram_choose_line_count"></span>	
			</div>
		</div>
		<div class="large-2 small-6 columns span_usual diagram_choose_line display_table transition" data-type="copy" data-id="{{id}}" style="float:left;">
			<div class="vertical_middle">
				<span class="vertical_middle">Полных копий:</span>
				<span class="diagram_choose_line_count"></span>
			</div>
		</div>
		<!-- <div class="large-2 small-6 columns span_usual diagram_choose_line display_table transition" data-type="incorrect" data-id="{{id}}" style="float:left;">
			<div class="vertical_middle">
				<span class="vertical_middle">Некорректных:</span>
				<span class="diagram_choose_line_count"></span>
			</div>
		</div> -->
	</div>
	<div id="dynamic{{id}}" class="diagram large-12 small-12 columns nopadding">
		

	</div>
	<div class="large-12 small-12 columns nopadding">
		<!-- <label for="dynamic_days_count" class="span_usual">
			За последние:
		</label> -->
		<select name="" id="dynamic_period_select">
			<option value="today">Сегодня</option>
			<option value="yesterday">Вчера</option>
			<option value="last 7 days" selected="selected">Последн. 7 дней</option>
			<option value="last 14 days">Последн. 14 дней</option>
			<option value="last 28 days">Последн. 28 дней</option>
			<option value="last 35 days">Последн. 35 дней</option>
			<option value="quarter begin">С начала квартала</option>
			<option value="current year">Текущий год</option>
			<option value="custom">Собственный</option>
		</select>
	</div>
</div>