<div class="large-12 small-12 columns nopadding span_usual open_sans" id="pubs_list">
    <table>
        <thead>
            <tr>
                <th>
                    № Пп
                </th>
                <th>
                    Заголовок
                </th>
                <th>
                    Дата
                </th>
            </tr>
        </thead>
        <tbody>
            {% for pub in pubs %}
                <tr>
                    <td>
                       {{forloop.counter}} 
                    </td>
                    <td>
                        {{pub.title}}
                    </td>
                    <td>
                        {{pub.date}}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>