{% load custom_templates %}
<div class="large-12 small-12 columns nopadding">
    <form id="users_period">
        {% for field in form %}
            <div class="large-12 small-12 columns" id="{{field.name}}">
                <div class="large-12 small-12 columns nopadding span_usual">
                    {{field|label_with_classes:"span_usual"}}
                </div>
                <div class="large-12 small-12 columns nopadding">{{field}}</div>
            </div>
        {% endfor %}

        {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                    <div class="large-12 small-12 columns" style="color:red;">
                        <span class="span_usual">{{field.label}}. {{error|escape}}</span>
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </form>
    <div class="large-12 small-12 columns padding_standart">
        <button class="span_usual button site_button" id="users_period_confirm">
            принять
        </button>
    </div>
</div>
<script>
    default_date = '{{default_date}}';
    
	$(function(){
		$('#id_date_from').fdatepicker({
            initialDate: default_date,
			format: 'dd-mm-yyyy',
			disableDblClickSelection: true,
			language: 'ru',
			//pickTime: true,
			weekStart: 1
		});
		$('#id_date_to').fdatepicker({
            initialDate: default_date,
			format: 'dd-mm-yyyy',
			disableDblClickSelection: true,
			language: 'ru',
			//pickTime: true,
			weekStart: 1
		});
	});
</script>