<div class="large-2 small-12 columns nopadding left_panel_wrapper">
	{{panel_left}}
</div>

<div class="large-10 small-12 columns nopadding campaign_content">
	{{content}}
</div>

<script>

	campaign_tree = {{campaign_tree|safe}};

	var selected_campaign;
	
</script>