<div class="large-12 small-12 columns nopadding open_sans" id="confirm_delete_wrapper">
	<div class="large-12 small-12 columns padding_standart color_fff">
		<span class="span_large">Подтвердить удаление {{verbose_name|capfirst}}: "{{name}}"</span>
	</div>
	<div class="large-12 small-12 columns padding_standart">
		<button class="button site_button span_usual confirm_delete" data-model="{{model}}" data-id="{{object_id}}">Удалить</button>
		<a href="#" class="a_white abort_delete span_usual">Отменить</a>
	</div>
</div>