<div class="large-12 small-12 columns nopadding">
	<div class="large-6 small-12 columns nopadding create_campaign_form_wrapper" data-id="1" style="float:left;">
		{{campaign_name_form}}
	</div>
	<div class="large-6 small-12 columns nopadding create_campaign_form_wrapper" data-id="2" style="float:left;">
		{{keywords_form}}
	</div>
</div>
<script>
	var topbar_elements = {{topbar_elements|safe}};
</script>