{% load custom_templates %}
<div class="large-12 small-12 columns nopadding open_sans">

	<div class="large-12 small-12 columns">
		<span class="span_superlarge">{{header}}</span>
	</div>

	<div class="large-12 small-12 columns nopadding background_fff">

		<div class="large-12 small-12 columns padding_standart">
			<div class="large-12 small-12 columns span_usual">
				<button class="button site_button" data-id="{{id}}">{{submit_text}}</button>
				{% if back %}
					<a href="#" data-id="{{back_id}}">Назад</a>
				{% endif %}
			</div>
		</div>
	</div>

</div>