<div class="large-12 small-12 columns nopadding">
	
	<!-- блок динамика новостей -->
	<div class="large-8 small-12 columns nopadding dynamic_wrapper">
		
	</div>
	<!-- конец блока динамики новостей -->

</div>