<!-- панель login -->
<div class="large-12 small-12 columns height_inherit nopadding login_panel_wrapper" style="float:right;">
  <div class="login_wrapper large-12 small-12 columns height_inherit nopadding font_inherit transition" tabindex="1">

    <div class="triangle_wrapper large-2 small-3 columns nopadding">
      <div class="triangle">
      </div>
    </div>


    {% if request.session.authorized %}
      <div class="large-10 small-9 columns nopadding login_text">
        <span class="span_small" title="{{request.session.name}}">{{ request.session.name }}</span>            
      </div>
    {% else %}
      <div class="large-10 small-9 columns nopadding login_text">
        <span class="span_small login_button">войти через</span>        
      </div>
    {% endif %}


    
  </div>


  <div class="login_content large-12 small-12 columns nopaddingz">
    {% if request.session.authorized %}
      <div class="large-12 small-12 columns nopadding login_content_line">
        <span class="span_small large-12 small-12 columns nopadding height_inherit login_content_text">
          <a href="/logout/">выйти</a>  
        </span>
      </div>
    {% else %}

      <div class="large-12 small-12 columns nopadding login_content_line">
        <span class="span_small large-12 small-12 columns nopadding height_inherit">
          <a href="{{ vk.url }}">вконтакте</a>
        </span>
      </div>

      <div class="large-12 small-12 columns nopadding login_content_line">
        <span class="span_small large-12 small-12 columns nopadding height_inherit">
          <a href="{{ fb.url }}">facebook</a>
        </span>  
      </div>

      <div class="large-12 small-12 columns nopadding login_content_line">
        <span class="span_small large-12 small-12 columns nopadding height_inherit">
          <a href="{{ ya.url }}">яндекс</a>
        </span>  
      </div>

      <div class="large-12 small-12 columns nopadding login_content_line">
        <span class="span_small large-12 small-12 columns nopadding height_inherit">
          <a href="{{ gp.url }}">google</a>
        </span>  
      </div>
    {% endif %}


  </div>
</div>
<!-- конец панели login -->