<tr>
    <td>
        {{title}}
    </td>
    <td>
        {{date}}
    </td>
    <td>
        {% for keywords_list in matching_keywords_list %}
            {% for word in keywords_list %}
                {{word.normal_form}}
            {% endfor %}
        {% endfor %}
    </td>
    <td>
        {% if text_poses %}
            текст
        {% endif %}
        {% if title_poses %}
            заголовок
        {% endif %}
    </td>
    <td>
        {{unique_type}}
    </td>
    <td>
        {{agency.0.agency.name|capfirst}}
    </td>
    <td>
        <a href="{{url}}" target="_blank">ссылка</a>
    </td>
</tr>