<table class="open_sans span_usual">
    <thead>
        <tr>
            <th>Наименование</th>
            <th>Дата</th>
            <th>Ключевые слова</th>
            <th>Совпадение в заголовке/тексте</th>
            <th>Тип</th>
            <th>Агентство</th>
            <th>Оригинал</th>
        </tr>
    </thead>
    <tbody>
        {% for pub in pubs %}
            {{pub}}
        {% endfor %}
    </tbody>
</table>

