<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta content="user-scalable=yes" name="viewport" initial-scale="1">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <meta name="format-detection" content="telephone=no" />
  <meta name="description" content="{{meta.meta_description}}" />
  <meta name="yandex-verification" content="5bb06d06f6b17cc4" />
  <meta name="google-site-verification" content="ziFOGx0b30VKYOceuA9C-LVz9rH-Nl9aB86lgoTxra4" />
  <title>{{meta.meta_title|capfirst}}</title>
	{% load staticfiles %}
  <!-- <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"> -->
  <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
  <link rel="stylesheet" href="{% static 'css/foundation-datepicker.css' %}">
  <link rel="stylesheet" href="{% static 'css/foundation-icons/foundation-icons.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/top/topbar.css' %}">
  <link rel="stylesheet" href="{% static 'css/content/header.css' %}">
  <link rel="stylesheet" href="{% static 'css/content/tree.css' %}">
  <link rel="stylesheet" href="{% static 'css/confirm.css' %}">
  <link rel="stylesheet" href="{% static 'css/common/modal.css' %}">
  <link rel="stylesheet" href="{% static 'css/common/loading.css' %}">
  <link rel="stylesheet" href="{% static 'css/content/mainpage/mainpage.css' %}">
  <link rel="stylesheet" href="{% static 'css/campaign/campaign.css' %}">
  <link rel="stylesheet" href="{% static 'css/campaign/left_panel.css' %}">
  <link rel="stylesheet" href="{% static 'css/diagram/diagram.css' %}">
  <link rel="stylesheet" href="{% static 'css/fonts/open_sans_thing.css'%}">
  <link rel="stylesheet" href="{% static 'css/service.css' %}">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-83976324-5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-83976324-5');
  </script>
  <!-- end Google Analitics-->
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript" >
  (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
          try {
              w.yaCounter47645833 = new Ya.Metrika({
                  id:47645833,
                  clickmap:true,
                  trackLinks:true,
                  accurateTrackBounce:true
              });
          } catch(e) { }
      });

      var n = d.getElementsByTagName("script")[0],
          s = d.createElement("script"),
          f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = "https://mc.yandex.ru/metrika/watch.js";

      if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
  })(document, window, "yandex_metrika_callbacks");
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/47645833" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->

  <script type="text/javascript" src="{% static 'js/vendor/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/sockjs/sockjs.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'highcharts/code/highcharts.js' %}"></script>
  <script type="text/javascript" src="{% static 'highcharts/code/modules/exporting.js' %}"></script>
  <script type="application/ld+json">
    [{% for item in jsonld %}
      {% if forloop.last %}
        {{ item | safe }}
      {% else %}
        {{ item | safe }},
      {% endif %}
    {% endfor %}]
  </script>
</head>
<body class="transition">
  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '226402031269584',
      xfbml      : true,
      version    : 'v2.12'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
  </script>

  <!-- блок service -->
  <div class="service_wrapper background_3">
    <span class="span_usual color_fff">служебный</span>
  </div>
  <div class="service_lines_wrapper color_fff background_3 span_usual">
    <div class="service_line height_inherit width_max" id="get_active_users">
      <span>Показать активных пользователей</span>
    </div>
    <div class="service_line height_inherit width_max" id="get_agencys">
      <span>Показать информацию о агентствах</span>
    </div>
  </div>
  <!-- конец блока service-->

  <!-- подтверждения клика на объекте (мобильное устройство)-->
  <div class="confirm_wrapper background_3">
    <div class="large-12 small-12 columns height_inherit nopadding">
      <span class="span_large open_sans confirm_wrapper_text color_fff">Перейти?</span>
    </div>
  </div>
  <!-- конец блока подтвердления клика -->

  <!-- модальное окно -->
  <div class="modal_window width_max">

      <div class="large-12 small-12 columns nopadding modal_content_inner background_3">

        <div class="large-12 small-12 columns close_button_wrapper nopadding">
          <div class="modal_close_button">
            <span class="span_large close_ico font_garamond" style="color:#ddd">&times;</span>
          </div>
        </div>
        
        <!-- содержимое модального окна -->
        <div class="large-12 small-12 columns modal_text" id="modal_text">

        </div>
        <!-- конец содержания модального окна -->          

      </div>

  </div>
  <!-- конец блока модальное окно-->
  
  <!-- блок загрузки -->
  <div class="loading_wrapper">
    <div class="lds-roller">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>  
  </div>
  <!-- конец блока загрузки-->

  {{topbar}}
  
  <div class="large-12 small-12 nopadding page_content height_inherit">
    {{content}}
    {% block content %}{% endblock %}
    
  </div>



  
  {% csrf_token %}
  <script src="{% static 'js/common/loading.js' %}"></script>
  <script src="{% static 'js/foundation.min.js' %}"></script>
  <script src="{% static 'js/foundation-datepicker.min.js' %}"></script>
  <script src="{% static 'js/locales/foundation-datepicker.ru.js' %}"></script>
  <script src="{% static 'js/jquery.waitforimages.js' %}"></script>
  <script>

    var page_uuid = '{{page_uuid}}';

    var page_type = '{{page_type}}';

    var user_id = '{{user_id}}';

    var session_key = '{{session_key}}';

    console.log(page_uuid);
    console.log('---------------------end page uid');


    //service events
    $('#get_active_users').on('click', function(){
      parameters = {};
      parameters.method = 'get_active_users';
      makeAjax(parameters);
    });
    
    $('#get_agencys').on('click', function(){
      parameters = {};
      parameters.method = 'get_agencys';
      makeAjax(parameters);
    });

    $(document).ready(function(){

      //socket connection
      $(window).on('beforeunload', function(){
        socket.close();

        //remove page from active_users
        parameters = {};
        parameters.page_uuid = page_uuid;
        parameters.user_id = user_id;
        parameters.session_key = session_key;
        parameters.method = 'remove_page_from_active_users';

        makeAjax(parameters);
      });

      socket_connect();

      function socket_connect(){

        socket = new SockJS('http://192.168.1.218:8989/messages');

        //socket = new SockJS('http://localhost:8989/messages');

        socket.onmessage = function(msg){

          var channel = msg.data.type;

          if (channel == 'package'){

            //*************************
            // campaign
            //*************************

            // read messages
            if (typeof campaign_dynamic_module != 'undefined'){
              campaign_dynamic_module.read_message(msg.data.data.data);  
            }

          }

        };

        socket.onclose = function(){
            setTimeout(socket_connect, 5000);
        };
      }
    });

    //ajax request
    var makeAjax = function(parameters){
      $.ajax({
          type: "POST",
          url: "/ajax/",
          data: JSON.stringify(parameters),
          contentType: "application/json; charset=utf-8",
          headers: {
            'X-CSRFToken': getCookie('csrftoken')
          },
          dataType: "json",
          async: true,
          success: function(data){
            //***********************
            // services
            //***********************
            if (parameters.method == 'get_active_users'){
              console.log(data);
            } else if (parameters.method == 'get_agencys'){
              console.log(data);
            }

            //************************
            // campaign
            //***********************
            //create campaign
            if (typeof create_campaign_module != 'undefined'){
              create_campaign_module.read_ajax(data, parameters);
              keywords_module.read_ajax(data, parameters);
            }
            // campaign left panel
            if (typeof campaign_tree != 'undefined'){
              campaign_left_module.read_ajax(data, parameters);
              campaign_diagram_module.read_ajax(data, parameters);
            }

            if (typeof remote_module != 'undefined'){
              remote_module.read_ajax(data, parameters);
            }
          }
      });
    };

    //build cookie csrf_token
    var getCookie = function(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    };

    $(document).foundation();
    
    //*********************
    // highcharts parameters
    //*********************

    Highcharts.setOptions({

      lang: {
         loading: 'Загрузка...',
         months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
         weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
         shortMonths: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сент', 'Окт', 'Нояб', 'Дек'],
         exportButtonTitle: "Экспорт",
         printButtonTitle: "Печать",
         rangeSelectorFrom: "С",
         rangeSelectorTo: "По",
         rangeSelectorZoom: "Период",
         downloadPNG: 'Скачать PNG',
         downloadJPEG: 'Скачать JPEG',
         downloadPDF: 'Скачать PDF',
         downloadSVG: 'Скачать SVG',
         printChart: 'Напечатать график'
      }

    });

    //**********************
    // highcharts theme
    //**********************
    Highcharts.theme = {

      colors: ['#f45b5b', '#8085e9', '#8d4654', '#7798BF', '#aaeeee',
          '#ff0066', '#eeaaee', '#55BF3B', '#DF5353', '#7798BF', '#aaeeee'],
      chart: {
          backgroundColor: '#ffffff',
          style: {
              fontFamily: 'Open Sans script=all rev=2, sans-serif',
          }
      },
      title: {
          style: {
              color: 'black',
              fontSize: '16px'
              /*fontWeight: 'bold'*/
          }
      },
      subtitle: {
          style: {
              color: 'black'
          }
      },
      tooltip: {
          borderWidth: 0
      },
      legend: {
          itemStyle: {
              /*fontWeight: 'bold',*/
              fontSize: '13px'
          }
      },
      xAxis: {
          labels: {
              style: {
                  color: '#6e6e70'
              }
          }
      },
      yAxis: {
          labels: {
              style: {
                  color: '#6e6e70'
              }
          }
      },
      plotOptions: {
          series: {
              shadow: true
          },
          candlestick: {
              lineColor: '#404048'
          },
          map: {
              shadow: false
          }
      },

      // Highstock specific
      navigator: {
          xAxis: {
              gridLineColor: '#D0D0D8'
          }
      },
      rangeSelector: {
          buttonTheme: {
              fill: 'white',
              stroke: '#C0C0C8',
              'stroke-width': 1,
              states: {
                  select: {
                      fill: '#D0D0D8'
                  }
              }
          }
      },
      scrollbar: {
          trackBorderColor: '#C0C0C8'
      },

      // General
      background2: '#c8c8c8'
    };

    // Apply the theme
    Highcharts.setOptions(Highcharts.theme);

  </script>
  <script src="{% static 'js/common/modal.js' %}"></script>
  <script src="{% static 'js/common/effects.js' %}"></script>
  <script src="{% static 'js/remote/remote.js' %}"></script>
  <script src="{% static 'js/campaign/create.js' %}"></script>
  <script src="{% static 'js/campaign/keywords.js' %}"></script>
  <script src="{% static 'js/campaign/diagram/campaign_dynamic.js' %}"></script>
  <script src="{% static 'js/campaign/diagram/campaign_diagram.js' %}"></script>
  <script src="{% static 'js/campaign/left_panel.js' %}"></script>
  <script>
    //message server can receive data ready
    parameters = {};
    parameters.method = 'campaign_can_receive_data';
    parameters.page_uuid = page_uuid;
    parameters.page_type = page_type;
    
    window.onload = function(){
      console.log('---------can receive data');
      makeAjax(parameters);
    };
      
  </script>
</body>