{% load staticfiles %}

<div class="page_content large-12 small-12 columns nopadding background_color_2">
	<div class="large-12 small-12 columns nopadding mainpage_content_inner">

		<div class="large-12 small-12 columns nopadding page_head text_center" style="background:none;">
			<div class="large-12 small-12 columns text_center">
				<h1 class=" page_head_text uppercase color_fff nomargin">{{title|capfirst}}</h1>
			</div>
			<div class="large-12 small-12 columns nopadding">
				<a href="/{{child.0.model_name}}/{{child.0.id}}">
					<button class="button site_button">начать мониторинг</button>
				</a>
			</div>
		</div>

	</div>
</div>