<div class="large-12 small-12 columns nopadding open_sans">
	<!-- левая панель -->
	<div class="large-6 small-12 columns">
		<div class="large-12 small-12 columns padding_standart">
			<h1 class="span_supersuperlarge primary">{{element.short_description}}</h1>
		</div>
		<div class="large-12 small-12 columns padding_standart">
			<span class="span_large secondary">{{element.text}}</span>
		</div>
		{% if element.id ==  1 %}
			<div class="large-12 small-12 columns padding_standart">
				<a href="/login/" class="button span_usual site_button open_sans uppercase text_decoration_none">начать</a>
			</div>
		{% endif %}
	</div>
	<!-- конец левой панели -->

	<!-- правая панель-->
	<div class="large-6 small-12 columns nopadding">
	</div>
	<!-- конец правой панели-->
</div>