<div class="large-12 small-12 columns nopadding open_sans">

	<!-- левая панель -->
	<div class="large-6 small-12 columns">
		<div class="large-12 small-12 columns padding_standart">
			<h1 class="span_supersuperlarge">Вход в систему</h1>
		</div>

		<div class="large-12 small-12 columns">
			<span class="span_usual secondary">Вы можете войти в систему при помощи:</span>
		</div>

		<div class="large-12 small-12 columns">
			<a href="{{ vk.url }}" class="span_usual">вконтакте</a>
		</div>

		<div class="large-12 small-12 columns">
			<a href="{{ fb.url }}" class="span_usual">facebook</a>
		</div>

		<div class="large-12 small-12 columns">
			<a href="{{ ya.url }}" class="span_usual">яндекс</a>
		</div>

		<div class="large-12 small-12 columns">
			<a href="{{ gp.url }}" class="span_usual">google</a>
		</div>
	</div>
	<!-- конец левой панели -->

	<!-- правая панель-->
	<div class="large-6 small-12 columns nopadding">
	</div>
	<!-- конец правой панели-->
</div>