<div class="topbar_element_wrapper display_table">
	<a href="{% if element.topbar_category %}/{{element.topbar_category}}/{% else %}/{% endif%}" class="vertical_middle color_000 text_decoration_none height_inherit transition{% if selected %} selected{% endif %}">
		<span class="open_sans span_usual transition height_inherit">{% if selected %}<b>{{element.name|capfirst}}</b>{% else %}{{element.name|capfirst}}{% endif%}</span>
	</a>
</div>