<div class="large-12 small-12 columns topbar_wrapper background_fff open_sans">
	<div class="large-6 small-6 columns topbar_left_wrapper padding_standart">
		<a href="/" class="span_superlarge uppercase text_decoration_none">news-mining.online</a>		
	</div>
	<div class="large-6 small-6 columns topbar_right_wrapper padding_standart">
		<div class="large-3 small-6 columns nopadding" style="float:right;">
			{{login_panel}}
		</div>
	</div>
	<div class="large-12 small-12 columns topbar_elements_wrapper">
		{% for element in topbar_elements %}
			{{element}}
		{% endfor %}
	</div>
</div>