<div class="large-12 small-12 columns nopadding open_sans all_campaign_line_wrapper display_table transition campaign_item" data-type="{{type}}" data-id="{{id}}" title="Все кампании">

	<div class="large-12 small-12 columns nopadding keyword_line">
		<div class="large-12 small-12 columns vertical_middle padding_standart">
			<div class="large-7 small-9 columns">
				<span class="span_usual bold">{{name}}</span>	
			</div>
			<div class="large-5 small-3 columns show_manipulation_line" data-id="{{id}}">
				<button class="span_small site_button button" style="float:right;"><i class="step fi-align-justify"></i></button>
			</div>
		</div>
	</div>

	<div class="large-12 small-12 columns manipulation_line padding_standart" data-id="{{id}}">
		<div class="large-12 small-12 columns">
			<a href="#" class="span_small hide_manipulation_line" data-id="{{id}}">Скрыть</a>
		</div>
		<div class="large-12 small-12 columns">
			<a href="create/" class="large-12 small-12 site_button button span_small text_decoration_none">Добавить кампанию</a>
		</div>
	</div>

</div>