<div class="large-12 small-12 columns nopadding open_sans campaign_line_wrapper display_table transition campaign_item" data-type="{{type}}" data-id="{{id}}" title="Кампания">

	<div class="large-12 small-12 columns nopadding keyword_line">
		<div class="large-12 small-12 columns vertical_middle padding_standart">
			<div class="large-7 small-9 columns">
				<span class="span_usual"><small>Кампания:</small> {{name}}</span>	
			</div>
			<div class="large-5 small-3 columns show_manipulation_line" data-id="{{id}}">
				<button class="span_small button site_button" style="float:right;"><i class="step fi-align-justify"></i></button>
			</div>
		</div>
	</div>

	<div class="large-12 small-12 columns manipulation_line padding_standart" data-id="{{id}}">
		<div class="large-12 small-12 columns">
			<a href="#" class="span_small hide_manipulation_line" data-id="{{id}}">Скрыть</a>
		</div>
		<div class="large-12 small-12 columns">
			<button class="large-12 small-12 site_button button span_supersmall add_keyword" data-id="{{id}}">Добавить ключевое слово (словосочетание)</button>
		</div>
		<div class="large-12 small-12 columns">
			<button class="large-12 small-12 site_button button span_supersmall rename" data-id="{{id}}">Переименовать</button>
		</div>
		<div class="large-12 small-12 columns">
			<button class="large-12 small-12 site_button button span_supersmall show_delete_form" data-model="Campaign" data-id="{{id}}" data-name="{{name}}">Удалить</button>
		</div>
	</div>

</div>