<div class="large-12 small-12 columns nopadding open_sans keyword_line_wrapper display_table transition campaign_item" data-type="{{type}}" data-id="{{id}}" title="Ключевое слово (словосочетание)">


	<div class="large-12 small-12 columns nopadding keyword_line">
		<div class="large-12 small-12 columns vertical_middle padding_standart">
			<div class="large-7 small-9 columns">
				<div class="large-11 small-11 columns nopadding" style="float:right;">
					<span class="span_usual"><small>Ключевое слово (словосочетание):</small> {{name}}</span>
				</div>
			</div>
			<div class="large-5 small-3 columns show_manipulation_line" data-id="{{id}}">
				<button class="span_small site_button button" style="float:right;"><i class="step fi-align-justify"></i></button>
			</div>
		</div>	
	</div>

	<div class="large-12 small-12 columns manipulation_line padding_standart" data-id="{{id}}">
		<div class="large-12 small-12 columns">
			<a href="#" class="span_small hide_manipulation_line" data-id="{{id}}">Скрыть</a>
		</div>
		<div class="large-12 small-12 columns">
			<button class="large-12 small-12 site_button button span_supersmall keyword_rename" data-id="{{id}}">Переименовать</button>
		</div>
		<div class="large-12 small-12 columns">
			<button class="large-12 small-12 site_button button span_supersmall show_delete_form" data-model="Keyword" data-id="{{id}}" data-name="{{name}}">Удалить</button>
		</div>
	</div>


</div>