.topbar_element_wrapper.selected a, .topbar_element_wrapper.selected span{
	border-bottom:3px solid #5AB5DD;
	font-weight: bold;
}

.topbar_element_wrapper a{
	border-bottom:3px solid #fff;
}

.topbar_element_wrapper{
	height:80px;
	display:inline-block;
	padding-left:50px;
	padding-right:50px;
}
.login_wrapper{
	cursor:pointer;
}

.login_content_line{
	padding-left:5px;
	padding-top:5px;
	cursor:pointer;
	height:inherit;
	display:block;
	height:25px;
}

.login_content_line span a{
	color: #000;
}

.login_content_line span a:hover{
	color:#5a9b9e;
}

.login_content{
	padding:15px;
	width:180px;
	background-color:#fff;
	position:absolute;
	top:60px;
	display:none;
	z-index: 101;
}

.login_wrapper:hover{
}

.login_wrapper:focus{
}

.login_wrapper:focus + .login_content{
	display:block;
}

.login_content:hover{
	display:block;
}

.triangle_wrapper{
	padding-top:10px;
	padding-left:5px;
}

.triangle{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 5px 0 5px;
	border-color: #000 transparent transparent transparent;
}

/* для смартфонов */
@media screen and (min-width: 640px) and (max-width: 1023px) {

	.login_panel_wrapper{
		height:150px;
	}
	.login_wrapper{
		height:inherit;
	}
	.triangle_wrapper{
		height:inherit;
		display:table-cell;
		padding:0;
		padding-top:70px;
	}
	.triangle{
		margin:auto;
		border-width: 10px 10px 0 10px;
	}

	.login_text{
		padding-top:50px;
	}

	.login_content{
		width:470px;
		top:150px;
	}
	.topbar_element_wrapper{
		height:160px;
		padding-left:20px;
		padding-right:20px;
	}
	.login_content_line{
		height:100px;
		display:table;
	}

	.login_content_text{
		display:table-cell;
		vertical-align: middle;
	}

	.login_content_line span a{
	}

	.login_content_line span a:hover{
	}

	.topbar_element_wrapper a.selected{
		border-bottom:6px solid #5AB5DD;
	}

	.topbar_element_wrapper a{
		border-bottom:6px solid #fff;
	}
}