/* блок донор-бертка для ключевых слов*/
.keyword_item_wrapper{
	left:-50px;
	position:absolute;
}

.keyword_item{
	display:inline-block;
	position:relative;
	padding:10px;
	max-width: 45%;
	margin:5px;
}

.keyword_text{
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

}

.keyword_close{
	cursor:pointer;
	top:0;
	right:0;
	position:absolute;
	padding-right: 5px;
}

.keyword_input_wrapper{
	display:inline-block;
	min-width: 50%;
}

.keyword_input{
	min-height: 30px;
}

.input_textarea{
	padding:5px;
}

input.keyword_input{
	position:relative;
	border:none;
	box-shadow:none;
	display:inline;
}

input.keyword_input:focus{
	border:none;
	box-shadow: initial;
}

/* для смартфонов */
@media screen and (min-width: 640px) and (max-width: 1023px) {
	.keyword_item{
		max-width: 95%;
		padding:20px;
		margin:10px;
	}

}