.manipulation_line{
	display:none;
}

.left_panel_wrapper{
	min-height: 100%;
}

.keyword_line_wrapper, .campaign_line_wrapper, .all_campaign_line_wrapper{
	min-height: 60px;
	cursor:pointer;
}

.keyword_line_wrapper{
	background-color:rgba(240,240,240,.5);
}

.keyword_line_wrapper.selected{
	background-color:#F0F0F0;
}

.campaign_line_wrapper.selected, .all_campaign_line_wrapper.selected{
	background-color:#F0F0F0;
}

.keyword_line_wrapper:hover{
	background-color:#F0F0F0;
}

.campaign_line_wrapper:hover, .all_campaign_line_wrapper:hover{
	background-color: #F0F0F0;
}

/* для смартфонов */
@media screen and (min-width: 640px) and (max-width: 1023px) {
	.campaign_line_wrapper, .keyword_line_wrapper, .all_campaign_line_wrapper{
		min-height: 120px;
	}
	.left_panel_wrapper{
		min-height: 300px;
	}
}